
.#{$table}-wrapper {
    zoom: 1
}

.#{$table}-wrapper:after,
.#{$table}-wrapper:before {
    display: table;
    content: ""
}

.#{$table}-wrapper:after {
    clear: both
}

.#{$table} {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    clear: both
}

.#{$table}-body {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.#{$table}-empty .#{$table}-body {
    overflow-x: auto!important;
    overflow-y: hidden!important
}

.#{$table} table {
    width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse: separate;
    border-spacing: 0
}

.#{$table}-layout-fixed table {
    table-layout: fixed
}

.#{$table}-thead>tr>th {
    color: $text-color;
    font-weight: 500;
    text-align: left;
    background: $background-color;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: background .3s ease;
    transition: background .3s ease
}

.#{$table}-thead>tr>th[colspan]:not([colspan="1"]) {
    text-align: center
}

.#{$table}-thead>tr>th .#{$table}-filter-icon,
.#{$table}-thead>tr>th .anticon-filter {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 100%;
    color: #bfbfbf;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s
}

.#{$table}-thead>tr>th .#{$table}-filter-icon>svg,
.#{$table}-thead>tr>th .anticon-filter>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -6px
}

.#{$table}-thead>tr>th .#{$table}-filter-selected.anticon-filter {
    color: $primary-color
}

.#{$table}-thead>tr>th .#{$table}-column-sorter {
    display: table-cell;
    vertical-align: middle
}

.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner {
    height: 1em;
    margin-top: .35em;
    margin-left: .57142857em;
    color: #bfbfbf;
    line-height: 1em;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s
}

.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner .#{$table}-column-sorter-down,
.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner .#{$table}-column-sorter-up {
    display: inline-block;
    font-size: 12px;
    font-size: 11px;
    -webkit-transform: scale(.91666667) rotate(0deg);
    transform: scale(.91666667) rotate(0deg);
    display: block;
    height: 1em;
    line-height: 1em;
    -webkit-transition: all .3s;
    transition: all .3s
}

:root .#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner .#{$table}-column-sorter-down,
:root .#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner .#{$table}-column-sorter-up {
    font-size: 12px
}

.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner .#{$table}-column-sorter-down.on,
.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner .#{$table}-column-sorter-up.on {
    color: $primary-color
}

.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner-full {
    margin-top: -.15em
}

.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner-full .#{$table}-column-sorter-down,
.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner-full .#{$table}-column-sorter-up {
    height: .5em;
    line-height: .5em
}

.#{$table}-thead>tr>th .#{$table}-column-sorter .#{$table}-column-sorter-inner-full .#{$table}-column-sorter-down {
    margin-top: .125em
}

.#{$table}-thead>tr>th.#{$table}-column-has-actions {
    position: relative;
    background-clip: padding-box;
    -webkit-background-clip: border-box
}

.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-filters {
    padding-right: 30px!important
}

.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-filters .#{$table}-filter-icon.#{$table}-filter-open,
.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-filters .anticon-filter.#{$table}-filter-open,
.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-filters:hover .#{$table}-filter-icon:hover,
.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-filters:hover .anticon-filter:hover {
    color: rgba(0, 0, 0, .45);
    background: #e5e5e5
}

.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-filters:hover .#{$table}-filter-icon:active,
.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-filters:hover .anticon-filter:active {
    color: $text-color
}

.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-sorters {
    cursor: pointer
}

.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-sorters:hover,
.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-sorters:hover .#{$table}-filter-icon,
.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-sorters:hover .anticon-filter {
    background: #f2f2f2
}

.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-sorters:active .#{$table}-column-sorter-down:not(.on),
.#{$table}-thead>tr>th.#{$table}-column-has-actions.#{$table}-column-has-sorters:active .#{$table}-column-sorter-up:not(.on) {
    color: rgba(0, 0, 0, .45)
}

.#{$table}-thead>tr>th .#{$table}-header-column {
    display: inline-block;
    max-width: 100%;
    vertical-align: top
}

.#{$table}-thead>tr>th .#{$table}-header-column .#{$table}-column-sorters {
    display: table
}

.#{$table}-thead>tr>th .#{$table}-header-column .#{$table}-column-sorters>.#{$table}-column-title {
    display: table-cell;
    vertical-align: middle
}

.#{$table}-thead>tr>th .#{$table}-header-column .#{$table}-column-sorters>:not(.#{$table}-column-sorter) {
    position: relative
}

.#{$table}-thead>tr>th .#{$table}-header-column .#{$table}-column-sorters:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
    content: ""
}

.#{$table}-thead>tr>th .#{$table}-header-column .#{$table}-column-sorters:hover:before {
    background: rgba(0, 0, 0, .04)
}

.#{$table}-thead>tr>th.#{$table}-column-has-sorters {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.#{$table}-thead>tr:first-child>th:first-child {
    border-top-left-radius: 4px
}

.#{$table}-thead>tr:first-child>th:last-child {
    border-top-right-radius: 4px
}

.#{$table}-thead>tr:not(:last-child)>th[colspan] {
    border-bottom: 0
}

.#{$table}-tbody>tr>td {
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all .3s, border 0s;
    transition: all .3s, border 0s
}

.#{$table}-tbody>tr,
.#{$table}-thead>tr {
    -webkit-transition: all .3s, height 0s;
    transition: all .3s, height 0s
}

.#{$table}-tbody>tr.#{$table}-row-hover:not(.#{$table}-expanded-row):not(.#{$table}-row-selected)>td,
.#{$table}-tbody>tr:hover:not(.#{$table}-expanded-row):not(.#{$table}-row-selected)>td,
.#{$table}-thead>tr.#{$table}-row-hover:not(.#{$table}-expanded-row):not(.#{$table}-row-selected)>td,
.#{$table}-thead>tr:hover:not(.#{$table}-expanded-row):not(.#{$table}-row-selected)>td {
    background: $primary-light
}

.#{$table}-tbody>tr.#{$table}-row-selected>td.#{$table}-column-sort,
.#{$table}-tbody>tr:hover.#{$table}-row-selected>td,
.#{$table}-tbody>tr:hover.#{$table}-row-selected>td.#{$table}-column-sort,
.#{$table}-thead>tr.#{$table}-row-selected>td.#{$table}-column-sort,
.#{$table}-thead>tr:hover.#{$table}-row-selected>td,
.#{$table}-thead>tr:hover.#{$table}-row-selected>td.#{$table}-column-sort {
    background: $background-color
}

.#{$table}-thead>tr:hover {
    background: none
}

.#{$table}-footer {
    position: relative;
    padding: 16px 16px;
    color: $text-color;
    background: $background-color;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px
}

.#{$table}-footer:before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $background-color;
    content: ""
}

.#{$table}.#{$table}-bordered .#{$table}-footer {
    border: 1px solid #e8e8e8
}

.#{$table}-title {
    position: relative;
    top: 1px;
    padding: 16px 0;
    border-radius: 4px 4px 0 0
}

.#{$table}.#{$table}-bordered .#{$table}-title {
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #e8e8e8
}

.#{$table}-title+.#{$table}-content {
    position: relative;
    border-radius: 4px 4px 0 0
}

.#{$table}-bordered .#{$table}-title+.#{$table}-content,
.#{$table}-bordered .#{$table}-title+.#{$table}-content .#{$table}-thead>tr:first-child>th,
.#{$table}-bordered .#{$table}-title+.#{$table}-content table,
.#{$table}-without-column-header .#{$table}-title+.#{$table}-content,
.#{$table}-without-column-header table {
    border-radius: 0
}

.#{$table}-without-column-header.#{$table}-bordered.#{$table}-empty .#{$table}-placeholder {
    border-top: 1px solid #e8e8e8;
    border-radius: 4px
}

.#{$table}-tbody>tr.#{$table}-row-selected td {
    color: inherit;
    background: $background-color
}

.#{$table}-thead>tr>th.#{$table}-column-sort {
    background: $background-color
}

.#{$table}-tbody>tr>td.#{$table}-column-sort {
    background: rgba(0, 0, 0, .01)
}

.#{$table}-tbody>tr>td,
.#{$table}-thead>tr>th {
    padding: 16px 16px;
    overflow-wrap: break-word
}

.#{$table}-expand-icon-th,
.#{$table}-row-expand-icon-cell {
    width: 50px;
    min-width: 50px;
    text-align: center
}

.#{$table}-header {
    overflow: hidden;
    background: $background-color
}

.#{$table}-header table {
    border-radius: 4px 4px 0 0
}

.#{$table}-loading {
    position: relative
}

.#{$table}-loading .#{$table}-body {
    background: #fff;
    opacity: .5
}

.#{$table}-loading .#{$table}-spin-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    margin-left: -30px;
    line-height: 20px
}

.#{$table}-loading .#{$table}-with-pagination {
    margin-top: -20px
}

.#{$table}-loading .#{$table}-without-pagination {
    margin-top: 10px
}

.#{$table}-bordered .#{$table}-body>table,
.#{$table}-bordered .#{$table}-fixed-left table,
.#{$table}-bordered .#{$table}-fixed-right table,
.#{$table}-bordered .#{$table}-header>table {
    border: 1px solid #e8e8e8;
    border-right: 0;
    border-bottom: 0
}

.#{$table}-bordered.#{$table}-empty .#{$table}-placeholder {
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8
}

.#{$table}-bordered.#{$table}-fixed-header .#{$table}-header>table {
    border-bottom: 0
}

.#{$table}-bordered.#{$table}-fixed-header .#{$table}-body>table {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.#{$table}-bordered.#{$table}-fixed-header .#{$table}-body-inner>table,
.#{$table}-bordered.#{$table}-fixed-header .#{$table}-header+.#{$table}-body>table {
    border-top: 0
}

.#{$table}-bordered .#{$table}-thead>tr:not(:last-child)>th {
    border-bottom: 1px solid #e8e8e8
}

.#{$table}-bordered .#{$table}-tbody>tr>td,
.#{$table}-bordered .#{$table}-thead>tr>th {
    border-right: 1px solid #e8e8e8
}

.#{$table}-placeholder {
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding: 16px 16px;
    color: rgba(0, 0, 0, .25);
    font-size: 14px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px
}

.#{$table}-pagination.#{$pagination} {
    float: right;
    margin: 16px 0
}

.#{$table}-filter-dropdown {
    position: relative;
    min-width: 96px;
    margin-left: -8px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15)
}

.#{$table}-filter-dropdown .#{$dropdown}-menu {
    max-height: calc(100vh - 130px);
    overflow-x: hidden;
    border: 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.#{$table}-filter-dropdown .#{$dropdown}-menu-item>label+span {
    padding-right: 0
}

.#{$table}-filter-dropdown .#{$dropdown}-menu-sub {
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15)
}

.#{$table}-filter-dropdown .#{$dropdown}-menu .#{$dropdown}-submenu-contain-selected .#{$dropdown}-menu-submenu-title:after {
    color: $primary-color;
    font-weight: 700;
    text-shadow: 0 0 2px #bae7ff
}

.#{$table}-filter-dropdown .#{$dropdown}-menu-item {
    overflow: hidden
}

.#{$table}-filter-dropdown>.#{$dropdown}-menu>.#{$dropdown}-menu-item:last-child,
.#{$table}-filter-dropdown>.#{$dropdown}-menu>.#{$dropdown}-menu-submenu:last-child .#{$dropdown}-menu-submenu-title {
    border-radius: 0
}

.#{$table}-filter-dropdown-btns {
    padding: 7px 8px;
    overflow: hidden;
    border-top: 1px solid #e8e8e8
}

.#{$table}-filter-dropdown-link {
    color: $primary-color
}

.#{$table}-filter-dropdown-link:hover {
    color: $primary-color
}

.#{$table}-filter-dropdown-link:active {
    color: #096dd9
}

.#{$table}-filter-dropdown-link.confirm {
    float: left
}

.#{$table}-filter-dropdown-link.clear {
    float: right
}

.#{$table}-selection {
    white-space: nowrap
}

.#{$table}-selection-select-all-custom {
    margin-right: 4px!important
}

.#{$table}-selection .anticon-down {
    color: #bfbfbf;
    -webkit-transition: all .3s;
    transition: all .3s
}

.#{$table}-selection-menu {
    min-width: 96px;
    margin-top: 5px;
    margin-left: -30px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15)
}

.#{$table}-selection-menu .m-action-down {
    color: #bfbfbf
}

.#{$table}-selection-down {
    display: inline-block;
    padding: 0;
    line-height: 1;
    cursor: pointer
}

.#{$table}-selection-down:hover .anticon-down {
    color: rgba(0, 0, 0, .6)
}

.#{$table}-row-expand-icon {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    display: inline-block;
    width: 17px;
    height: 17px;
    color: inherit;
    line-height: 13px;
    text-align: center;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.#{$table}-row-expand-icon:focus,
.#{$table}-row-expand-icon:hover {
    color: $primary-color
}

.#{$table}-row-expand-icon:active {
    color: #096dd9
}

.#{$table}-row-expand-icon:active,
.#{$table}-row-expand-icon:focus,
.#{$table}-row-expand-icon:hover {
    border-color: currentColor
}

.#{$table}-row-expanded:after {
    content: "-"
}

.#{$table}-row-collapsed:after {
    content: "+"
}

.#{$table}-row-spaced {
    visibility: hidden
}

.#{$table}-row-spaced:after {
    content: "."
}

.#{$table}-row-cell-ellipsis,
.#{$table}-row-cell-ellipsis .#{$table}-column-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.#{$table}-row-cell-ellipsis .#{$table}-column-title {
    display: block
}

.#{$table}-row-cell-break-word {
    word-wrap: break-word;
    word-break: break-word
}

tr.#{$table}-expanded-row,
tr.#{$table}-expanded-row:hover {
    background: #fbfbfb
}

tr.#{$table}-expanded-row td>.#{$table}-wrapper {
    margin: -16px -16px -17px
}

.#{$table} .#{$table}-row-indent+.#{$table}-row-expand-icon {
    margin-right: 8px
}

.#{$table}-scroll {
    overflow: auto;
    overflow-x: hidden
}

.#{$table}-scroll table {
    min-width: 100%
}

.#{$table}-scroll table .#{$table}-fixed-columns-in-body:not([colspan]) {
    color: transparent
}

.#{$table}-scroll table .#{$table}-fixed-columns-in-body:not([colspan])>* {
    visibility: hidden
}

.#{$table}-body-inner {
    height: 100%
}

.#{$table}-fixed-header>.#{$table}-content>.#{$table}-scroll>.#{$table}-body {
    position: relative;
    background: #fff
}

.#{$table}-fixed-header .#{$table}-body-inner {
    overflow: scroll
}

.#{$table}-fixed-header .#{$table}-scroll .#{$table}-header {
    margin-bottom: -20px;
    padding-bottom: 20px;
    overflow: scroll;
    opacity: .9999
}

.#{$table}-fixed-header .#{$table}-scroll .#{$table}-header::-webkit-scrollbar {
    border: 1px solid #e8e8e8;
    border-width: 0 0 1px 0
}

.#{$table}-hide-scrollbar {
    scrollbar-color: transparent transparent;
    min-width: unset
}

.#{$table}-hide-scrollbar::-webkit-scrollbar {
    min-width: inherit;
    background-color: transparent
}

.#{$table}-bordered.#{$table}-fixed-header .#{$table}-scroll .#{$table}-header::-webkit-scrollbar {
    border: 1px solid #e8e8e8;
    border-width: 1px 1px 1px 0
}

.#{$table}-bordered.#{$table}-fixed-header .#{$table}-scroll .#{$table}-header.#{$table}-hide-scrollbar .#{$table}-thead>tr:only-child>th:last-child {
    border-right-color: transparent
}

.#{$table}-fixed-left,
.#{$table}-fixed-right {
    position: absolute;
    top: 0;
    z-index: auto;
    overflow: hidden;
    border-radius: 0;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease
}

.#{$table}-fixed-left table,
.#{$table}-fixed-right table {
    width: auto;
    background: #fff
}

.#{$table}-fixed-header .#{$table}-fixed-left .#{$table}-body-outer .#{$table}-fixed,
.#{$table}-fixed-header .#{$table}-fixed-right .#{$table}-body-outer .#{$table}-fixed {
    border-radius: 0
}

.#{$table}-fixed-left {
    left: 0;
    -webkit-box-shadow: 6px 0 6px -4px rgba(0, 0, 0, .15);
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, .15)
}

.#{$table}-fixed-left .#{$table}-header {
    overflow-y: hidden
}

.#{$table}-fixed-left .#{$table}-body-inner {
    margin-right: -20px;
    padding-right: 20px
}

.#{$table}-fixed-header .#{$table}-fixed-left .#{$table}-body-inner {
    padding-right: 0
}

.#{$table}-fixed-left,
.#{$table}-fixed-left table {
    border-radius: 4px 0 0 0
}

.#{$table}-fixed-left .#{$table}-thead>tr>th:last-child {
    border-top-right-radius: 0
}

.#{$table}-fixed-right {
    right: 0;
    -webkit-box-shadow: -6px 0 6px -4px rgba(0, 0, 0, .15);
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, .15)
}

.#{$table}-fixed-right,
.#{$table}-fixed-right table {
    border-radius: 0 4px 0 0
}

.#{$table}-fixed-right .#{$table}-expanded-row {
    color: transparent;
    pointer-events: none
}

.#{$table}-fixed-right .#{$table}-thead>tr>th:first-child {
    border-top-left-radius: 0
}

.#{$table}.#{$table}-scroll-position-left .#{$table}-fixed-left,
.#{$table}.#{$table}-scroll-position-right .#{$table}-fixed-right {
    -webkit-box-shadow: none;
    box-shadow: none
}

.#{$table} colgroup>col.#{$table}-selection-col {
    width: 60px
}

.#{$table}-thead>tr>th.#{$table}-selection-column-custom .#{$table}-selection {
    margin-right: -15px
}

.#{$table}-tbody>tr>td.#{$table}-selection-column,
.#{$table}-thead>tr>th.#{$table}-selection-column {
    text-align: center
}

.#{$table}-tbody>tr>td.#{$table}-selection-column .#{$radio}-wrapper,
.#{$table}-thead>tr>th.#{$table}-selection-column .#{$radio}-wrapper {
    margin-right: 0
}

.#{$table}-row[class*=ant-table-row-level-0] .#{$table}-selection-column>span {
    display: inline-block
}

.#{$table}-filter-dropdown-submenu .#{$checkbox}-wrapper+span,
.#{$table}-filter-dropdown .#{$checkbox}-wrapper+span {
    padding-left: 8px
}

@supports (-moz-appearance:meterbar) {
    .#{$table}-thead>tr>th.#{$table}-column-has-actions {
        background-clip: padding-box
    }
}

.#{$table}-middle>.#{$table}-content>.#{$table}-body>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-body>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-content>.#{$table}-footer,
.#{$table}-middle>.#{$table}-content>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-middle>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-middle>.#{$table}-title {
    padding: 12px 8px
}

.#{$table}-middle tr.#{$table}-expanded-row td>.#{$table}-wrapper {
    margin: -12px -8px -13px
}

.#{$table}-small {
    border: 1px solid #e8e8e8;
    border-radius: 4px
}

.#{$table}-small>.#{$table}-content>.#{$table}-footer,
.#{$table}-small>.#{$table}-title {
    padding: 8px 8px
}

.#{$table}-small>.#{$table}-title {
    top: 0;
    border-bottom: 1px solid #e8e8e8
}

.#{$table}-small>.#{$table}-content>.#{$table}-footer {
    background-color: transparent;
    border-top: 1px solid #e8e8e8
}

.#{$table}-small>.#{$table}-content>.#{$table}-footer:before {
    background-color: transparent
}

.#{$table}-small>.#{$table}-content>.#{$table}-body {
    margin: 0 8px
}

.#{$table}-small>.#{$table}-content>.#{$table}-body>table,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table,
.#{$table}-small>.#{$table}-content>.#{$table}-header>table,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table {
    border: 0
}

.#{$table}-small>.#{$table}-content>.#{$table}-body>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-body>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table>.#{$table}-tbody>tr>td,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table>.#{$table}-thead>tr>th {
    padding: 8px 8px
}

.#{$table}-small>.#{$table}-content>.#{$table}-body>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-header>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table>.#{$table}-thead>tr>th,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table>.#{$table}-thead>tr>th {
    background-color: transparent
}

.#{$table}-small>.#{$table}-content>.#{$table}-body>table>.#{$table}-thead>tr,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table>.#{$table}-thead>tr,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table>.#{$table}-thead>tr,
.#{$table}-small>.#{$table}-content>.#{$table}-header>table>.#{$table}-thead>tr,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table>.#{$table}-thead>tr,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table>.#{$table}-thead>tr {
    border-bottom: 1px solid #e8e8e8
}

.#{$table}-small>.#{$table}-content>.#{$table}-body>table>.#{$table}-thead>tr>th.#{$table}-column-sort,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th.#{$table}-column-sort,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table>.#{$table}-thead>tr>th.#{$table}-column-sort,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table>.#{$table}-thead>tr>th.#{$table}-column-sort,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table>.#{$table}-thead>tr>th.#{$table}-column-sort,
.#{$table}-small>.#{$table}-content>.#{$table}-header>table>.#{$table}-thead>tr>th.#{$table}-column-sort,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table>.#{$table}-thead>tr>th.#{$table}-column-sort,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table>.#{$table}-thead>tr>th.#{$table}-column-sort {
    background-color: rgba(0, 0, 0, .01)
}

.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-body-outer>.#{$table}-body-inner>table,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-left>.#{$table}-header>table,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-body-outer>.#{$table}-body-inner>table,
.#{$table}-small>.#{$table}-content>.#{$table}-fixed-right>.#{$table}-header>table,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-body>table,
.#{$table}-small>.#{$table}-content>.#{$table}-scroll>.#{$table}-header>table {
    padding: 0
}

.#{$table}-small>.#{$table}-content .#{$table}-header {
    background-color: transparent;
    border-radius: 4px 4px 0 0
}

.#{$table}-small>.#{$table}-content .#{$table}-placeholder,
.#{$table}-small>.#{$table}-content .#{$table}-row:last-child td {
    border-bottom: 0
}

.#{$table}-small.#{$table}-bordered {
    border-right: 0
}

.#{$table}-small.#{$table}-bordered .#{$table}-title {
    border: 0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8
}

.#{$table}-small.#{$table}-bordered .#{$table}-content {
    border-right: 1px solid #e8e8e8
}

.#{$table}-small.#{$table}-bordered .#{$table}-footer {
    border: 0;
    border-top: 1px solid #e8e8e8
}

.#{$table}-small.#{$table}-bordered .#{$table}-footer:before {
    display: none
}

.#{$table}-small.#{$table}-bordered .#{$table}-placeholder {
    border-right: 0;
    border-bottom: 0;
    border-left: 0
}

.#{$table}-small.#{$table}-bordered .#{$table}-tbody>tr>td:last-child,
.#{$table}-small.#{$table}-bordered .#{$table}-thead>tr>th.#{$table}-row-cell-last {
    border-right: none
}

.#{$table}-small.#{$table}-bordered .#{$table}-fixed-left .#{$table}-tbody>tr>td:last-child,
.#{$table}-small.#{$table}-bordered .#{$table}-fixed-left .#{$table}-thead>tr>th:last-child {
    border-right: 1px solid #e8e8e8
}

.#{$table}-small.#{$table}-bordered .#{$table}-fixed-right {
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8
}

.#{$table}-small tr.#{$table}-expanded-row td>.#{$table}-wrapper {
    margin: -8px -8px -9px
}

.#{$table}-small.#{$table}-fixed-header>.#{$table}-content>.#{$table}-scroll>.#{$table}-body {
    border-radius: 0 0 4px 4px
}