$atom: a;
$molecule: m;
$organism: o;

$alert: #{$atom}-alert;
$input: #{$atom}-input;
$inputWSelect: #{$atom}-input-w-select;
$inputSearch: #{$molecule}-input-search;
$textarea: #{$atom}-textarea;
$select: #{$molecule}-select;
$autocompletes: #{$molecule}-auto-complete;
$avatar: #{$atom}-avatar;
$anchor: #{$atom}anchor;
$backtop: #{$molecule}-back-top;
$badge: #{$atom}-badge;
$number: #{$atom}-scroll-number;
$breadcrumb: #{$molecule}-breadcrumb;
$btn: #{$atom}-btn;
$colorPicker: #{$molecule}-colorpicker;
$fullcalendar: #{$molecule}-fullcalendar;
$card: #{$atom}-card;
$carousel: #{$molecule}-carousel;
$cascader: #{$molecule}-cascader;
$checkbox: #{$atom}-checkbox;
$collapse: #{$molecule}-collapse;
$counter: #{$molecule}-counter;
$comment: #{$molecule}-comment;
$calendar: #{$molecule}-calendar;
$calendarTimepicker: #{$molecule}-calendar-time-picker;
$divider: #{$molecule}-divider;
$drawer: #{$molecule}-drawer;
$dropdown: #{$molecule}-dropdown;
$empty: #{$molecule}-empty;
$form: #{$molecule}-form;
$icon: #{$atom}-icon;
$inputNumber: #{$atom}-input-number;
$layout: #{$molecule}-layout;
$list: #{$molecule}-list;
$menu: #{$molecule}-menu;
$message: #{$molecule}-message;
$confirm: #{$molecule}-modal-confirm;
$modal: #{$molecule}-modal;
$table: #{$molecule}-table;
$notification: #{$molecule}-notification;
$pagination: #{$molecule}-pagination;
$popover: #{$molecule}-popover;
$progress: #{$molecule}-progress;
$radio: #{$atom}-radio;
$radioGroup: #{$radio}-group;
$radioInner: #{$radio}-inner;
$rate: #{$molecule}-rate;
$skeleton: #{$molecule}-skeleton;
$skeletonAvatar: #{$skeleton}-avatar;
$skeletonTitle: #{$skeleton}-title;
$skeletonParagraph: #{$skeleton}-paragraph;
$slider: #{$molecule}-slider;
$spin: #{$atom}-spin;
$statistic: #{$molecule}-statistic;
$steps: #{$molecule}-steps;
$iconfont: #{$molecule}-iconfont;
$switch: #{$atom}-toggle;
$tabs: #{$molecule}-tabs;
$tag: #{$atom}-tag;
$timepicker: #{$molecule}-time-picker;
$timeline: #{$molecule}-timeline;
$tooltip: #{$molecule}-tooltip;
$transfer: #{$molecule}-transfer;
$sidebar: #{$molecule}-sidebar;
$select: #{$molecule}-select;
$selectTree: #{$molecule}-select-tree;
$tree: #{$molecule}-tree;
$upload: #{$molecule}-upload;
$chip: #{$atom}-chip;
$search: #{$atom}-search;
$status: #{$atom}-status;
$logo: #{$atom}-logo;
$label: #{$atom}-label;
$star: #{$atom}-star;
$link: #{$atom}-link;
$productThumbnail: #{$atom}-product-thumbnail;
$avatarThumbnail: #{$atom}-avatar-thumbnail;
$msgBox: #{$molecule}-msg-box;
$multiselectCheckbox: #{$molecule}-multiselect-checkbox;
$summaryStarRating: #{$molecule}-summary-star-rating;
$progressBar: #{$molecule}-progress-bar;
$toast: #{$molecule}-toast;
$navigation: #{$molecule}-navigation;
$tableEmpty: #{$molecule}-table-empty;
$inputAppendSelect: #{$molecule}-input-append-select;
$inputPrependSelect: #{$molecule}-input-prepend-select;
$inputIntlTel: #{$molecule}-input-intl-tel;
$listNodata: #{$molecule}-list-no-data;
$upload-image: #{$molecule}-upload-image;
$searchWDropdown: #{$molecule}-search-w-dropdown;
$tabEmpty: #{$molecule}-tab-empty;
$selectSearch: #{$molecule}-select-search;
$variants: #{$atom}-variants;
$inputDataList: #{$atom}-input-datalist;
$selectTime: #{$molecule}-select-time;