// library

@import './static/_variables';
@import './static/_mixins';
@import './static/utilities';
@import './static/animations';
@import './static/antd';

@mixin scroll-bar-custom($height : 5px, $width : 5px, $bg-track: $white-color, $bg-thumb: #c4c4c4, $bg-thumb-hover: #c4c4c4, $border: 5px){
    scrollbar-width: thin;          /* "auto" or "thin"  */
    scrollbar-color: #9fb3c8;   
  
    &::-webkit-scrollbar {
      height: $height;
      width: $width;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
      background-color: $bg-track; 
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
      border-radius: $border;
      background-color: $bg-thumb
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
      background-color: $bg-thumb-hover;
  }
}

html {
    overflow-y: hidden;
}